.teams-table {
  overflow: auto;
}

.mat-table-sticky:first-child {
  padding-right: 5px;
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  padding-right: 5px;
  border-left: 1px solid #e0e0e0;
}
