<div class="row mt-5">
  <div class="col-xl-12 mb-5 mb-xl-0">
    <div class="card shadow">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">Page visits</h3>
          </div>
          <div class="col text-right">
            <a class="btn btn-sm btn-primary" style="color: white">Retention %</a>
            <a class="btn btn-sm btn-primary" style="color: white">Performance</a>
            <a class="btn btn-sm btn-primary" style="color: white">Behavior</a>
            <a class="btn btn-sm btn-default" style="color: white">Reetayn Score</a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th *ngFor="let team of teams" scope="col">{{team.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let team of teams" scope="col">
                {{team.rank}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>